@model IEnumerable<Chat>

@{
    Layout = "_Layout";
    ViewBag.Title = "User chats";
}

@foreach (Chat chat in Model.OrderByDescending(chat => chat.CreateAt))
{
    <div class="card m-2 text-center">
        <div class="card-header">
            <h5>@chat.Name</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Created: @chat.CreateAt</h5>

            <p class="card-text">Update: @chat.UpdateAt</p>

            <a asp-action="ChatingRoom" class="btn btn-secondary p-1 m-1" asp-controller="Chat" asp-route-chatId="@chat.Id">Enter the chat</a>
            <form asp-action="RemovetChat" asp-controller="CrudChat">
                <input hidden="hidden" name="chatId" value="@chat.Id">
                <button class="btn btn-secondary p-1 m-1" type="submit">Remove</button>
            </form>
        </div>
    </div>

}
