<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bundle.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div class="content">
        <div class="item-block-horizontal ">
            <div class="container-fluid">
                <div class="row mx-3 justify-content-md-start p-2">
                        @if (Context.User.Identity.Name != null)
                        {
                            <div class="col-1 p-1">
                                <a class="btn btn-outline-light btn-sm" asp-action="MyProfile" asp-controller="Account" asp-route-userName="@Context.User.Identity.Name">@Context.User.Identity.Name</a>
                            </div>
                        }
                        else
                        {   
                            <div class="col-1 p-1">
                                <a class="btn btn-outline-light btn-sm" asp-action="MyProfile" asp-controller="Account" asp-route-userName="@Context.User.Identity.Name">My Profile</a>
                            </div>
                        }
                    <div class="col-1 p-1" style="width: auto">
                        <a class="btn btn-outline-light btn-sm" asp-action="MyPrivateChat" asp-controller="PrivateChat" asp-route-userName="@Context.User.Identity.Name">Massages</a>
                    </div>
                    <div class="col-1 p-1" style="width: auto">
                        <a class="btn btn-outline-light btn-sm" asp-action="AllUsers" asp-controller="OtherAccount">Users</a>
                    </div>
                    <div class="col-1 p-1" style="width: auto">
                        <a class="btn btn-outline-light btn-sm" asp-action="Chats" asp-controller="Chat">Chats</a>
                    </div>        
                    <div class="col-1 p-1" style="width: auto">
                        <a class="btn btn-outline-light btn-sm" asp-action="Posts" asp-controller="PostWall">Posts</a>        
                    </div>
                    @if (!Context.User.Identity.IsAuthenticated)
                    {
                        <div class="col-1 offset-xl-8 p-1">
                            <a class="btn btn-outline-light btn-sm" asp-action="Login" asp-controller="Account">Log in</a>
                            <a class="btn btn-outline-light btn-sm" asp-action="Register" asp-controller="Account">Register</a> 
                        </div>
                    }
                    @if (Context.User.IsInRole("Admin"))
                    {
                        <div class="col-1 p-1">
                            <a class="btn btn-outline-light btn-sm" asp-action="Posts" asp-controller="Admin">Admin</a> 
                        </div>
                    }
                </div>
            </div>        
        </div>
        <div class="content-include overflow-auto">
            @RenderBody()
        </div>
    </div>
</body>
</html>
